.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
.slide-x-enter-active {
  transition: transform 0.4s ease;
  z-index: -1;
}
.slide-x-leave-active {
  transition: transform 0.4s ease;
  z-index: 999;
}

.slide-x-enter-from {
  transform: translateX(100%);
}
.slide-x-leave-to {
  transform: translateX(-100%);
}

@keyframes ping-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
